<div class="jumbotron center">
<h1>Welcome to Donna and Tiffany's Christmas Spectacular</h1>

	<% if user_signed_in? %>
		<h3>Welcome to the exclusive member's area!</h3>

		<% else %>
			<p> <%= link_to "Sign Up",new_user_registration_path, class: "btn btn-danger btn-lg" %> </p>

			<p> <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %> </p>
		<% end %>

</div>
