<span class="glyphicon glyphicon-cog"></span>

	<h1>Welcome to Donna and Tiffany's Christmas Spectacular

		We are serving Donna mamma and Tiffany Grandma's specail menu

	Menu
7Up Pork
Peas and Corn Medley
Grandma's Dumplings from Scratch
Green eggs and tomatoes
Seasonal soup

Dessert
Pecan Pies with the finest chinese tea
Fresh fruit with Hot Chocolate

Events
Ice skating
Tree finding, sourcing and decorating
Stocking stuffing
Present making
Hot chocolate by the fake fireplace
Family calling/skyping
Present unwrapping</h1>