
	<h1 class = "text-muted" >Welcome to Donna and Tiffany's <h1 class = "text-success" >Christmas <em class = "text-danger" > Spectacular </em> </h1> </h1>

		<h3> We are serving Donna mamma and Tiffany Grandma's homemade menu </h3>

	<h1> Menu </h1>

	7Up Pork
	Peas and Corn Medley
	Grandma's Dumplings from Scratch
	Green eggs and tomatoes
	Seasonal soup

	<h1> Dessert </h1>
	Pecan Pies with the finest chinese tea
	Fresh fruit with Hot Chocolate

	<h1> Events </h1>
	Ice skating
	Tree finding, sourcing and decorating
	Stocking stuffing
	Present making
	Hot chocolate by the fake fireplace
	Family calling/skyping
	Present unwrapping</h1>