
	<h1 class = "text-center" >Welcome to Donna and Tiffany's <h1 class= "text-success text-center" >Christmas <em class= "text-danger" > Spectacular </em> </h1> </h1>

		<h4 class = "text-center lead" > Inspired by Donna Mamma and Tiffany's Grandma's homemade menu </h4>

			<h4 class = "text-center" > Menu</h4> 
			<p class = "text-center" >7Up Pork</p>
 			<p class = "text-center">Peas and Corn Medley</p>
 			<p class = "text-center">Grandma's Dumplings from Scratch</p>
 			<p class = "text-center">Green eggs and tomatoes</p>
 			<p class = "text-center">Seasonal soup</p>


<h4 class = "text-center" > Dessert</h4> 
			<p class = "text-center" >Pecan Pies</p>
 			<p class = "text-center">Finest chinese tea</p>
 			<p class = "text-center">Seasonal fruit</p>
 			<p class = "text-center">Hot chocolate</p>



 			<h4 class = "text-center" > Events</h4> 
			<p class = "text-center" >Ice skating</p>
 			<p class = "text-center">Tree finding, sourcing and decorating</p>
 			<p class = "text-center">Stocking stuffing</p>
 			<p class = "text-center">Present making</p>
 			<p class = "text-center">Hot chocolate by the fake fireplace</p>
 			<p class = "text-center">Family calling/skyping</p>
 			<p class = "text-center">Present unwrapping</p>